/dts-v1/;
/plugin/;

/ {
    compatible = "allwinner,sun50i-h616";

    fragment@0 {
        target = <&spi0>;
        __overlay__ {
            status = "okay";
            
            ili9486@0 {
                compatible = "ilitek,ili9486";
                reg = <0>;
                spi-max-frequency = <32000000>;
                rotate = <270>;

                dc-gpios = <&pio 2 14 1>; // PC14
                reset-gpios = <&pio 2 6 0>; // PC6

                buswidth = <8>;
                bgr;
                fps = <30>;

                port {
                    ili9486_panel_input: endpoint {
                        remote-endpoint = <&tcon0_out_panel>;
                    };
                };
            };
        };
    };
};
